.landingTitle {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
  margin: 0;
}

@media(max-width: 767px) {
  .landingTitle {
    font-size: 18px;
    line-height: 22px;
  }
}