.header {
  background-color: #073042;
}

.header_theme_dark {
  background-color: #202020;
}

.header__menu {
  display: none;
}

.header__menu_visible {
  display: block;
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__list-item {
  display: inline-block;
  margin-right: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  transition: opacity .3s;
}

.header__list-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__account-container {
  padding-right: 30px;
}

.header__account {
  margin: 0;
  position: relative;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  display: none;
  transition: opacity .3s;
}

.header__account_visible {
  display: block;
}

.header__account::after {
  content: '';
  width: 26px;
  height: 26px;
  background-color: #313131;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  margin-left: 7px;
  top: -6px;
  background-image: url('../../images/header-account.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__list-item_active {
  border-bottom: 2px solid white;
 }

.header__buttons {
  display: block;
}

.header__buttons_hidden {
  display: none;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header__container_small {
  max-width: 396px;
}

.header__registration-btn {
  margin-right: 25px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  transition: opacity .3s;
}

.header__login-btn {
  padding: 8px 20px;
  background-color: #3DDC84;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  transition: opacity .3s;
}

.header__logo {
  transition: opacity .3s;
}

.header__registration-btn:hover, .header__login-btn:hover, .header__logo:hover, 
.header__burger:hover, .header__account:hover, .header__list-item:hover {
  cursor: pointer;
  opacity: 0.7;
}


.header__burger {
  display: none;
  border: none;
  background-color: transparent;
  transition: opacity .3s;
}

@media(max-width: 1190px) {
  .header__menu {
    display: none;
  }
  .header__account-container {
    display: none;
  }
  .header__container {
    max-width: 708px;
  }
  .header__container_small {
    max-width: 396px;
  }
  .header__burger {
    width: 30px;
    height: 25px;
    position: relative;
  }

  .header__burger_visible {
    display: block;
  }
  
  .header__burger-span {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  
}

@media(max-width: 767px) {
  .header__container {
    max-width: 284px;
  }
  .header__container_small {
    max-width: 260px;
    justify-content: center;
  }
  .header__login-btn {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 160%;
  }
  .header__registration-btn {
    font-size: 10px;
    line-height: 160%;
    margin-right: 14px;
  }
}
